
      {
			"headers":      {"url":"10.40.30.2:8001","user":"user_admin","pass":"pass_district"},
      "weekly_idsr_map":{
		      "AEFI" : [],
		      "AFP (Poliomyelitis***)" : ["Poliomyelitis"],
		      "AHFS" : [],
		      "Anthrax" : ["Anthrax"],
		      "Cholera" : ["Cholera"],
		      "Covid-19" : ["COVID-19"],
		      "Dengue" : [],
		      "Diarrhoea with blood (Shigella)":["Dysentery"],
		      "Influenza due to new subtype" : ["Human influenza caused by new subtype"],
		      "Listeriosis" : [],
		      "Malaria" : ["Malaria"],
		      "Maternal death": [],
		      "Measles" : ["Measles"],
		      "Meningococcal Meningitis" : ["Meningococcal Meningitis"],
		      "Neonatal tetanus" : ["Neonatal tetanus"],
		      "PHEIC" : ["Public Health Event of international or national concern"],
		      "Plague" : ["Plague"],
		      "Rabies (Human)" : ["Rabies"],
		      "SARIs":["Severe acute respiratory infection"],
		      "SARS" :[],
		      "Small pox" : ["Smallpox (Variola)"],
		      "Typhoid fever":["Typhoid fever"],
		      "Yellow fever" : ["Yellow fever"]},

    "monthly_idsr_map":{}
 }
