{
	"headers": {"host":"127.0.0.1",
							"username":"root",
							"password":"root",
							"port": "3306",
							"database": "iblis"
						},
	"lims_specimen_map":{
			 "Plasma" : 18,
			 "Sputum" : 1,
			 "Pulmonary effusion" : 0,
			 "Urine" : 12,
			 "Cerebrospinal fluid" : 0,
			 "Peritoneal fluid" : 7,
			 "Other" : 13,
			 "Blood" : 3,
			 "Pus" : 10,
			 "Ascitic Fluid" : 5,
			 "Pericardial Fluid" : 6,
			 "HVS" : 8,
			 "Swabs" : 9,
			 "Stool" : 11,
			 "Swab" : 9,
			 "DBS (Free drop to DBS card)" : 19,
			 "DBS (Using capillary tube)" : 21
		},
		"lims_test_type_map":{
			"TB Microscopic Exam" : 1,
			"Urine microscopy" : 12,
			"Measles" : 26,
			"Vdrl" : 0,
			"Serum glutamic-oxaloacetic transaminase" : 0,
			"Serum glutamic-pyruvic transaminase" : 0,
			"Serum creatinine" : 0,
			"HIV viral load" : 71,
			"Blood urea nitrogen" : 0,
			"Serum glucose" : 38,
			"Liver function tests" : 32,
			"Creatine kinase" : 51,
			"Differential" : 7,
			"AFB sputum smear" : 0,
			"ESR" : 42,
			"B-HCG" : 102,
			"Uric acid" : 52,
			"Serum calcium" : 48,
			"Istat chem8 plus construct" : 0,
			"International normalized ratio and prothrombin time lab result" : 0,
			"CD4 count" : 28,
			"HbA1c" : 67,
			"Urine dipstick" : 0,
			"Sickling test" : 43,
			"Gram stain" : 3,
			"India ink" : 6,
			"Rubella" : 27,
			"Minerals" : 64,
			"Enzymes" : 37,
			"Phosphorus" : 49,
			"Cell count" : 5,
			"Urine chemistries" : 13,
			"GeneXpert" : 2,
			"Culture & Sensitivity" : 4,
			"TB Tests" : 10,
			"ESBL Test" : 53,
			"CrAg" : 72,
			"Malaria Screening" : 15,
			"Blood Parasites Screen" : 16,
			"Hepatitis B Test" : 20,
			"Hepatitis C Test" : 21,
			"Rheumatoid Factor Test" : 22,
			"Cryptococcus Antigen Test" : 23,
			"Anti Streptolysis O" : 24,
			"C-reactive protein" : 25,
			"ABO Blood Grouping" : 29,
			"Cross-match" : 30,
			"Transfusion Outcome" : 31,
			"Renal Function Test" : 33,
			"Lipogram" : 34,
			"FBC" : 115,
			"APTT" : 40,
			"Manual Differential & Cell Morphology" : 45,
			"Pancreatic Function Test" : 46,
			"Direct Coombs Test" : 47,
			"Magnesium" : 50,
			"APTT Ratio" : 54,
			"Fibronogen" : 55,
			"50:50 Normal Plasma" : 56,
			"50:50 Mix FVIII Deficient" : 57,
			"50:50 Mix F-IX Deficient" : 58,
			"Factor VIII Assay" : 59,
			"Factor IX Assay" : 60,
			"TT" : 61,
			"Coagulation Assay" : 62,
			"Cardiac Function Tests" : 63,
			"BioMarkers" : 65,
			"Iron Studies" : 66,
			"Microalbumin" : 68,
			"Microprotein" : 69,
			"Von Willebrand Factor" : 70,
			"Urine Lam" : 0,
			"Wet prep" : 9,
			"HVS analysis" : 18,
			"Stool Analysis" : 14,
			"Urine Macroscopy" : 11,
			"Semen Analysis" : 17,
			"FBS" : 0,
			"D/Coombs" : 47,
			"creat" : 0,
			"Widal" : 0,
			"AAFB (3rd)" : 0,
			"Urine micro" : 12,
			"AAFB (1st)" : 0,
			"ASOT" : 0,
			"Blood C/S" : 0,
			"Cryptococcal Ag" : 0,
			"I/Ink" : 6,
			"Prot& Sugar" : 0,
			"C_S" : 0,
			"hep" : 0,
			"Cryptococcal Antigen" : 0,
			"Resistance" : 0,
			"Sickle" : 0,
			"Protein and Sugar" : 0,
			"White cell count" : 0
		}
}




