# Mysql configurations
default: &default
  host: 127.0.0.1
  port: 3308
  adapter: mysql2
  encoding: utf8
  collation: utf8_unicode_ci
  username: your_scoped_username
  password: your_secret_password
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 20 } %>
  checkout_timeout: 5000
  variables:
    sql_mode: STRICT_TRANS_TABLES

development:
  <<: *default
  database: openmrs_dev

test:
  <<: *default
  database: openmrs_test

production:
  <<: *default
  database: openmrs_prod

# Uncomment out the following and update them accordingly if
# you need to sync hts and anc to RDS.

#hts:
#  adapter: mysql2
#  username: root
#  database:
#  password:
#  host: localhost
#  pool: 500

#anc:
#  adapter: mysql2
#  username: root
#  database:
#  password:
#  host: localhost
#  pool: 500

healthdata:
  adapter: mysql2
  username: root
  database: healthdata
  password:
  host: localhost
  pool: 500

# concepts_merge_db:
#  adapter: mysql2
#  username: root
#  database: openmrs
#  password:
#  host: localhost
#  pool: 500
