immunization_stats_midnight_refresh:
  cron: "0 0 * * *"
  class: "ImmunizationMidnightRefreshJob"
  queue: "default"
  description: "Refreshes the immunization stats at midnight"
flag_potential_duplicates:
  cron: "0 0 * * *"
  class: "FlagPotentialDuplicatesJob"
  queue: "default"
  description: "Flags potential duplicates at midnight"

dde_ids_sync_job:
  cron: "*/15 * * * *" # every 15 minutes
  class: "Sync::DdeIdsSyncJob"
  queue: default

ncd_active_patients_for_each_facility:
  cron: "0 0 1 * * *" # At 1:00 AM daily
  class: "NcdActiveClientsJob"
  args: [null, "Time.now.beginning_of_hour - 2.hours"]
  queue: "ncd_active_patients"
  description: "Find all NCD active patients for each facility"

# notifiable_disease_job:
#   cron: "* * * * *"  # Every minute
#   class: "ScriptRunner"
#   args: ["bin/idsr/notifiable_disease_conditions_report.rb"]
#   queue: "default"
