<!DOCTYPE HTML PUBLIC '-//W3C//DTD HTML 4.0 Transitional//EN'>
<html>
  <head>
    <meta http-equiv='content-type' content='text/html; charset=utf-8' />
    <title></title>
    <style type='text/css'>
      @media print {
      .pagebreak {
      page-break-before: always;
      } 
      }
     
      
        table {
        	width: 100%;
        }
      
        table {
        	border-collapse: collapse;
        }
      
        td {
        	padding-left: 0.3em;
        	padding-right: 0.3em;
        }
      
        .magic-div {
        	height: 50px;
        	width: 25px;
        	position: relative;
        }
      
        .magic-span {
        	position: absolute;
        	top: 50%;
        	left: 50%;
        	transform: translate(-50%, -50%) rotate(-90deg);
        	transform-origin: center center;
        	display: block;
        	width: 0;
        	text-anchor: end;
        	text-align: center;
        	margin-top: 27px;
        	margin-bottom: 5px;
        }
      
        .t_no_break {
        	white-space: nowrap;
        }
      
        @media print {
        	.print-page {
        		margin: 10px;
        		page-break-inside: avoid;
        		page-break-after: always;
        	}
        }
    </style>
  </head>
  <body>
    <div class="pagebreak"> </div>
    <table>
    </br>
      <colgroup width='43'></colgroup>
      <colgroup width='65'></colgroup>
      <colgroup width='50'></colgroup>
      <colgroup width='62'></colgroup>
      <colgroup width='73'></colgroup>
      <colgroup width='78'></colgroup>
      <colgroup width='47'></colgroup>
      <colgroup width='53'></colgroup>
      <colgroup width='51'></colgroup>
      <colgroup width='46'></colgroup>
      <colgroup width='51'></colgroup>
      <colgroup width='49'></colgroup>
      <colgroup width='85'></colgroup>
      <colgroup width='110'></colgroup>
      <colgroup width='117'></colgroup>
      <colgroup span='2' width='118'></colgroup>
      <colgroup width='47'></colgroup>
      <colgroup width='68'></colgroup>
      <colgroup span='2' width='59'></colgroup>
      <colgroup width='55'></colgroup>
      <colgroup width='71'></colgroup>
      <colgroup span='2' width='79'></colgroup>
      <colgroup width='167'></colgroup>
      <colgroup span='4' width='59'></colgroup>
      <tr>
        <td colspan='11' align='left' valign='top '>
          <b>
            <i>
              <font face='Times New Roman' size='4 ' color='#000000'>ART Patient Card Paediatric ARV Formulations</font>
            </i>
          </b>
        </td>
        <td colspan='2' align='left' valign='top '>
          <i>
            <font face='Times New Roman' size='4 ' color='#000000'>Version 9</font>
          </i>
        </td>
        <td align='left' valign='top '>
          <font face='Times New Roman' size='4 ' color='#000000'><br>
          </font>
        </td>
        <td align='left' valign='top '>
          <font face='Times New Roman' size='4 ' color='#000000'>Transfer-In Date</font>
        </td>
        <td
				style='border-left: 1px solid #000000'
				colspan='2 '
				rowspan='2 '
				align='center'
				valign='top '>
          <font face='Times New Roman' size='4 ' color='#000000'><br>
          </font>
          <%= @data["transfer_in_date"] %>
        </td>
        <td align='left' valign='top '>
          <font face='Times New Roman' size='4 ' color='#000000'><br>
          </font>
        </td>
        <td
				style='border-right: 1px solid #000000'
				colspan='2 '
				align='right'
				valign='top '>
          <b>
            <font face='Times New Roman' size='4 ' color='#000000'>ART Reg No</font>
          </b>
        </td>
        <td
				style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000'
				colspan='5 '
				rowspan='2 '
				align='center'
				valign='top '>
          <font face='Times New Roman' size='4 ' color='#000000'><br>
          </font>
          <%= @data["art_number"] %>
        </td>
        <td align='left' valign='top '>
          <font face='Times New Roman' size='4 ' color='#000000'><br>
          </font>
        </td>
        <td align='right' valign='top '>
          <font face='Times New Roman' size='4 ' color='#000000'>Year</font>
        </td>
        <td
				style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000'
				colspan='4 '
				rowspan='2 '
				align='center'
				valign='top '>
          <font face='Times New Roman' size='4 ' color='#000000'><br>
          </font>
        </td>
      </tr>
      <tr>
        <td colspan='3' align='left' valign='top ' bgcolor='#00B0F0'>
          <font face='Times New Roman' size='4 ' color='#000000'>Blue Card</font>
        </td>
        <td colspan='8' align='left' valign='top '>
          <font face='Times New Roman' size='4 ' color='#000000'><br>
          </font>
        </td>
        <td align='left' valign='top '>
          <font face='Times New Roman' size='4 ' color='#000000'><br>
          </font>
        </td>
        <td align='left' valign='top '>
          <font face='Times New Roman' size='4 ' color='#000000'><br>
          </font>
        </td>
        <td align='left' valign='top '>
          <font face='Times New Roman' size='4 ' color='#000000'><br>
          </font>
        </td>
        <td align='left' valign='top '>
          <font face='Times New Roman' size='4 ' color='#000000'><br>
          </font>
        </td>
        <td align='left' valign='top '>
          <font face='Times New Roman' size='4 ' color='#000000'><br>
          </font>
        </td>
        <td align='left' valign='top '>
          <font face='Times New Roman' size='4 ' color='#000000'><br>
          </font>
        </td>
        <td align='left' valign='top '>
          <font face='Times New Roman' size='4 ' color='#000000'><br>
          </font>
        </td>
        <td align='left' valign='top '>
          <font face='Times New Roman' size='4 ' color='#000000'><br>
          </font>
        </td>
        <td align='left' valign='top '>
          <font face='Times New Roman' size='4 ' color='#000000'><br>
          </font>
        </td>
        <td align='left' valign='top '>
          <font face='Times New Roman' size='4 ' color='#000000'><br>
          </font>
        </td>
        <td align='left' valign='top '>
          <font face='Times New Roman' size='4 ' color='#000000'><br>
          </font>
        </td>
      </tr>
      <tr>
        <td align='left' valign=top>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td align='left' valign=top>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td align='left' valign=top>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td align='left' valign=top>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td align='left' valign=top>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td align='left' valign=top>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td align='left' valign=top>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td align='left' valign=top>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td align='left' valign=top>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td align='left' valign=top>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td align='left' valign=top>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td align='left' valign=top>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td align='left' valign=top>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td align='left' valign=top>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td align='left' valign=top>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td align='left' valign=top>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td align='left' valign=top>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td align='left' valign=top>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td align='left' valign=top>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td align='left' valign=top>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td align='left' valign=top>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td align='left' valign=top>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td align='left' valign=top>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td align='left' valign=top>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td align='left' valign=top>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td align='left' valign=top>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td align='left' valign=top>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td align='left' valign=top>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td align='left' valign=top>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td align='left' valign=top>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
      </tr>
    </table>
    <table cellspacing='0' border='0'>
      <colgroup width='43'></colgroup>
      <colgroup width='65'></colgroup>
      <colgroup width='50'></colgroup>
      <colgroup width='62'></colgroup>
      <colgroup width='73'></colgroup>
      <colgroup width='78'></colgroup>
      <colgroup width='47'></colgroup>
      <colgroup width='53'></colgroup>
      <colgroup width='51'></colgroup>
      <colgroup width='46'></colgroup>
      <colgroup width='51'></colgroup>
      <colgroup width='49'></colgroup>
      <colgroup width='85'></colgroup>
      <colgroup width='110'></colgroup>
      <colgroup width='117'></colgroup>
      <colgroup span='2' width='118'></colgroup>
      <colgroup width='47'></colgroup>
      <colgroup width='68'></colgroup>
      <colgroup span='2' width='59'></colgroup>
      <colgroup width='55'></colgroup>
      <colgroup width='71'></colgroup>
      <colgroup span='2' width='79'></colgroup>
      <colgroup width='167'></colgroup>
      <colgroup span='4' width='59'></colgroup>
      <tr>
        <td style='border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000'
				colspan='3 ' align='center' valign='top '>
          <font face='Liberation Sans Narrow' size='3 '>Visit Date</font>
        </td>
        <td style='border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000'
				align='center' valign='top '>
          <font face='Liberation Sans Narrow' size='3 '>Age</font>
        </td>
        <td style='border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000'
				align='center' valign='top '>
          <font face='Liberation Sans Narrow' size='3 '>Height</font>
        </td>
        <td style='border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000'
				align='center' valign='top '>
          <font face='Liberation Sans Narrow' size='3 '>Weight</font>
        </td>
        <td style='border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000'
				colspan='4 ' rowspan='2 ' align='left' valign='top '>
          <font face='Liberation Sans Narrow'>TB Status (Current)*</font>
        </td>
        <td style='border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000'
				colspan='2 ' rowspan='2 ' align='left' valign='top '>
          <font face='Liberation Sans Narrow'>Side Effects</font>
        </td>
        <td style='border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000'
				rowspan='4 ' align='center' valign='top '>
          <font face='Liberation Sans Narrow'>Pill Count</font>
        </td>
        <td style='border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000'
				rowspan='4 ' align='center' valign='top '>
          <font face='Liberation Sans Narrow' size='3 '>Doses Missed</font>
        </td>
        <td style='border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000'
				colspan='2 ' rowspan='4 ' align='center' valign='top '>
          <font face='Times New Roman' size='3 ' color='#000000'>ART Regimen</font>
        </td>
        <td style='border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000'
				colspan='2 ' align='left' valign='top '>
          <font face='Liberation Sans Narrow' size='3 '>ARVs Given</font>
        </td>
        <td style='border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000'
				colspan='4 ' align='left' valign='top '>
          <font face='Liberation Sans Narrow' size='3 '>CPT / TPT Tabs Given</font>
        </td>
        <td style='border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000'
				rowspan='4 ' align='center' valign='top '>
          <font face='Times New Roman' color='#000000'>Months since last VL<br>
            Test</font>
        </td>
        <td style='border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000'
				colspan='2 ' align='left' valign='top '>
          <font face='Liberation Sans Narrow' size='3 '>Viral Load</font>
        </td>
        <td style='border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000'
				rowspan='4 ' align='left' valign='top '>
          <font face='Liberation Sans Narrow'>Next Appointment/ Outcome Date</font>
        </td>
        <td style='border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000'
				colspan='4 ' rowspan='4 ' align='center' valign='top '>
          <font face='Liberation Sans Narrow' size='3 '>Adverse Outcome</font>
        </td>
      </tr>
      <tr>
        <td style='border-left: 1px solid #000000' align='left' valign='bottom '>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td align='left' valign='bottom '>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td style='border-right: 1px solid #000000' align='left' valign='bottom '>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td style='border-left: 1px solid #000000; border-right: 1px solid #000000' align='left' valign='bottom '>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td style='border-left: 1px solid #000000; border-right: 1px solid #000000' align='left' valign='bottom '>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td style='border-left: 1px solid #000000; border-right: 1px solid #000000' align='left' valign='bottom '>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td style='border-left: 1px solid #000000' align='left' valign='bottom '>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td style='border-right: 1px solid #000000' align='left' valign='bottom '>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td class='t_no_break ' align='center' valign='top '
				style='border-left: 1px solid #000000; border-right: 1px solid #000000' rowspan='3 ' '>
          <div class=' magic-div '>
            <span class=' magic-span '>
              <font face=' Liberation Sans Narrow'>CTX 120</font>
            </span>
          </div>
        </td>
        <td class='t_no_break ' rowspan='3 ' align='center' valign='top ' style='border-right: 1px solid #000000'>
          <div class='magic-div '>
            <span class='magic-span '>
              <font face='Liberation Sans Narrow'>INH 100</font>
            </span>
          </div>
        </td>
        <td class='t_no_break ' rowspan='3 ' align='center' valign='top ' style='border-right: 1px solid #000000'>
          <div class='magic-div '>
            <span class='magic-span '>
              <font face='Liberation Sans Narrow'>RFP 150</font>
            </span>
          </div>
        </td>
        <td style='border-right: 1px solid #000000' rowspan='3 ' align='center' valign='top '>
          <div class='magic-div '>
            <span class='magic-span '>
              <font face='Liberation Sans Narrow'>Pyridoxine</font>
            </span>
          </div>
        </td>
        <td style='border-left: 1px solid #000000' align='left' valign='bottom '>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td style='border-right: 1px solid #000000' align='left' valign='bottom '>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
      </tr>
      <tr>
        <td style='border-left: 1px solid #000000' align='left' valign='bottom '>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td align='left' valign='bottom '>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td style='border-right: 1px solid #000000' align='left' valign='bottom '>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td style='border-left: 1px solid #000000; border-right: 1px solid #000000' align='left' valign='bottom '>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td style='border-left: 1px solid #000000; border-right: 1px solid #000000' align='left' valign='bottom '>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td style='border-left: 1px solid #000000; border-right: 1px solid #000000' align='left' valign='bottom '>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td style='border-left: 1px solid #000000; border-right: 1px solid #000000' colspan='2 ' align='left'
				valign='top '>
          <font face='Liberation Sans Narrow'>Suspected</font>
        </td>
        <td style='border-left: 1px solid #000000; border-right: 1px solid #000000' colspan='2 ' align='left'
				valign='top '>
          <font face='Liberation Sans Narrow'>Confirmed</font>
        </td>
        <td style='border-left: 1px solid #000000; border-right: 1px solid #000000' colspan='2 ' rowspan='2align='
				center' '=' center' ' ' valign='top '>
          <font face='Times New Roman' color='#000000'>Specify in Notes</font>
        </td>
        <td style='border-left: 1px solid #000000' align='left' valign='bottom '>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td style='border-right: 1px solid #000000' align='left' valign='bottom '>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td style='border-left: 1px solid #000000; border-right: 1px solid #000000' rowspan='2 ' align='center'
				valign='bottom '>
          <font face='Liberation Sans Narrow'>Sample taken</font>
        </td>
        <td style='border-right: 1px solid #000000' align='left' valign='bottom '>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
      </tr>
      <tr>
        <td style='border-left: 1px solid #000000' align='left' valign='top '>
          <i>
            <font face='Liberation Sans Narrow'>day</font>
          </i>
        </td>
        <td align='left' valign='top '>
          <i>
            <font face='Liberation Sans Narrow'>month</font>
          </i>
        </td>
        <td style='border-right: 1px solid #000000' align='left' valign='top '>
          <i>
            <font face='Liberation Sans Narrow'>year</font>
          </i>
        </td>
        <td style='border-left: 1px solid #000000; border-right: 1px solid #000000' align='center' valign='top '>
          <i>
            <font face='Liberation Sans Narrow'>(Curr.)</font>
          </i>
        </td>
        <td style='border-left: 1px solid #000000; border-right: 1px solid #000000' align='center' valign='top '>
          <i>
            <font face='Liberation Sans Narrow'>cm</font>
          </i>
        </td>
        <td style='border-left: 1px solid #000000; border-right: 1px solid #000000' align='center' valign='top '>
          <i>
            <font face='Liberation Sans Narrow'>kg</font>
          </i>
        </td>
        <td style='border-left: 1px solid #000000; border-right: 1px solid #000000' align='center' valign='top '>
          <font face='Liberation Sans Narrow'>No</font>
        </td>
        <td style='border-left: 1px solid #000000; border-right: 1px solid #000000' align='center' valign='top '>
          <font face='Liberation Sans Narrow'>Yes</font>
        </td>
        <td style='border-left: 1px solid #000000; border-right: 1px solid #000000' align='center' valign='bottom '>
          <font face='Liberation Sans Narrow'>noRx</font>
        </td>
        <td style='border-left: 1px solid #000000; border-right: 1px solid #000000' align='center' valign='top '>
          <font face='Times New Roman' color='#000000'>Rx</font>
        </td>
        <td style='border-left: 1px solid #000000' align='left' valign='top '>
          <font face='Liberation Sans Narrow'>No. of tablets</font>
        </td>
        <td style='border-right: 1px solid #000000' align='left' valign='top '>
          <font face='Liberation Sans Narrow'>To</font>
        </td>
        <td style='border-right: 1px solid #000000' align='center' valign='bottom '>
          <font face='Liberation Sans Narrow'>Result</font>
        </td>
      </tr>
        <tr>
          <td style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 2px solid #000000; border-right: 1px solid #000000'
					colspan=3 align='center' valign=middle bgcolor='#F1F1F1'>
            <font face='Arial'>
            </font>
          </td>
          <td style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000'
					align='left' valign=middle bgcolor='#F1F1F1'>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000'
					align='left' valign=middle bgcolor='#F1F1F1'>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000'
					align='left' valign=middle bgcolor='#F1F1F1'>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td colspan="4" align="center"
					style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000'
					align='right' valign=middle bgcolor='#F1F1F1'>
            <font face='Liberation Sans Narrow'>
            </font>
          </td>
          <td colspan="2"
					style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000'
					align='center' valign=middle bgcolor='#F1F1F1'>
            <font face='Liberation Sans Narrow'></font>
          </td>
          <td style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000'
					align='left' valign=middle bgcolor='#F1F1F1'>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000'
					align='left' valign=middle bgcolor='#F1F1F1'>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000'
					colspan=2 align='center' valign=middle bgcolor='#F1F1F1'>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000'
					align='right' valign=middle bgcolor='#F1F1F1'>
            <font face='Liberation Sans Narrow'></font>
          </td>
          <td style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000'
						align='right' valign=middle bgcolor='#F1F1F1'>
            <font face='Liberation Sans Narrow'></font>
            P
          </td>
          <td style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000'
						align='left' valign=middle bgcolor='#F1F1F1'>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000'
						align='left' valign=middle bgcolor='#F1F1F1'>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000'
						align='left' valign=middle bgcolor='#F1F1F1'>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000'
						align='left' valign=middle bgcolor='#F1F1F1'>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000'
						align='left' valign=middle bgcolor='#F1F1F1'>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000'
						colspan=2 align='left' valign=middle bgcolor='#F1F1F1'>
            <font face='Times New Roman' color='#000000'></font>
          </td>
          <td style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000'
						align='left' valign=middle bgcolor='#F1F1F1'>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000'
						align='right' valign=middle bgcolor='#F1F1F1'>
            <font face='Liberation Sans Narrow'></font>

          </td>
        </tr>
      </table>
      <table>
        <tr>
          <td style='border-bottom: 1px solid #000000' height='33' align='left' valign=middle>
            <font face='Times New Roman' size=3 color='#000000'>Notes</font>
          </td>
          <td style='border-bottom: 1px solid #000000' align='left' valign=top>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td style='border-bottom: 1px solid #000000' align='left' valign=top>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td style='border-bottom: 1px solid #000000' align='left' valign=top>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td style='border-bottom: 1px solid #000000' align='left' valign=top>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td style='border-bottom: 1px solid #000000' align='left' valign=top>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td style='border-bottom: 1px solid #000000' align='left' valign=top>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td style='border-bottom: 1px solid #000000' align='left' valign=top>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td style='border-bottom: 1px solid #000000' align='left' valign=top>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td style='border-bottom: 1px solid #000000' align='left' valign=top>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td style='border-bottom: 1px solid #000000' align='left' valign=top>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td style='border-bottom: 1px solid #000000' align='left' valign=top>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td style='border-bottom: 1px solid #000000' align='left' valign=top>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td style='border-bottom: 1px solid #000000' align='left' valign=top>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td style='border-bottom: 1px solid #000000' align='left' valign=top>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td style='border-bottom: 1px solid #000000' align='left' valign=top>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td style='border-bottom: 1px solid #000000' align='left' valign=top>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td style='border-bottom: 1px solid #000000' align='left' valign=top>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td style='border-bottom: 1px solid #000000' align='left' valign=top>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td style='border-bottom: 1px solid #000000' align='left' valign=top>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td style='border-bottom: 1px solid #000000' align='left' valign=top>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td style='border-bottom: 1px solid #000000' align='left' valign=top>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td style='border-bottom: 1px solid #000000' align='left' valign=top>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td style='border-bottom: 1px solid #000000' align='left' valign=top>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td style='border-bottom: 1px solid #000000' align='left' valign=top>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td style='border-bottom: 1px solid #000000' align='left' valign=top>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td style='border-bottom: 1px solid #000000' align='left' valign=top>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td style='border-bottom: 1px solid #000000' align='left' valign=top>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td style='border-bottom: 1px solid #000000' align='left' valign=top>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td style='border-bottom: 1px solid #000000' align='left' valign=top>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
        </tr>
        <tr>
          <td style='border-top: 1px solid #000000; border-bottom: 1px solid #000000' align='left' valign=top>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td style='border-top: 1px solid #000000; border-bottom: 1px solid #000000' align='left' valign=top>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td style='border-top: 1px solid #000000; border-bottom: 1px solid #000000' align='left' valign=top>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td style='border-top: 1px solid #000000; border-bottom: 1px solid #000000' align='left' valign=top>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td style='border-top: 1px solid #000000; border-bottom: 1px solid #000000' align='left' valign=top>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td style='border-top: 1px solid #000000; border-bottom: 1px solid #000000' align='left' valign=top>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td style='border-top: 1px solid #000000; border-bottom: 1px solid #000000' align='left' valign=top>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td style='border-top: 1px solid #000000; border-bottom: 1px solid #000000' align='left' valign=top>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td style='border-top: 1px solid #000000; border-bottom: 1px solid #000000' align='left' valign=top>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td style='border-top: 1px solid #000000; border-bottom: 1px solid #000000' align='left' valign=top>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td style='border-top: 1px solid #000000; border-bottom: 1px solid #000000' align='left' valign=top>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td style='border-top: 1px solid #000000; border-bottom: 1px solid #000000' align='left' valign=top>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td style='border-top: 1px solid #000000; border-bottom: 1px solid #000000' align='left' valign=top>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td style='border-top: 1px solid #000000; border-bottom: 1px solid #000000' align='left' valign=top>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td style='border-top: 1px solid #000000; border-bottom: 1px solid #000000' align='left' valign=top>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td style='border-top: 1px solid #000000; border-bottom: 1px solid #000000' align='left' valign=top>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td style='border-top: 1px solid #000000; border-bottom: 1px solid #000000' align='left' valign=top>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td style='border-top: 1px solid #000000; border-bottom: 1px solid #000000' align='left' valign=top>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td style='border-top: 1px solid #000000; border-bottom: 1px solid #000000' align='left' valign=top>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td style='border-top: 1px solid #000000; border-bottom: 1px solid #000000' align='left' valign=top>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td style='border-top: 1px solid #000000; border-bottom: 1px solid #000000' align='left' valign=top>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td style='border-top: 1px solid #000000; border-bottom: 1px solid #000000' align='left' valign=top>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td style='border-top: 1px solid #000000; border-bottom: 1px solid #000000' align='left' valign=top>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td style='border-top: 1px solid #000000; border-bottom: 1px solid #000000' align='left' valign=top>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td style='border-top: 1px solid #000000; border-bottom: 1px solid #000000' align='left' valign=top>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td style='border-top: 1px solid #000000; border-bottom: 1px solid #000000' align='left' valign=top>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td style='border-top: 1px solid #000000; border-bottom: 1px solid #000000' align='left' valign=top>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td style='border-top: 1px solid #000000; border-bottom: 1px solid #000000' align='left' valign=top>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td style='border-top: 1px solid #000000; border-bottom: 1px solid #000000' align='left' valign=top>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td style='border-top: 1px solid #000000; border-bottom: 1px solid #000000' align='left' valign=top>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
        </tr>
        <tr>
          <td style='border-top: 1px solid #000000; border-bottom: 1px solid #000000' align='left' valign=top>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td style='border-top: 1px solid #000000; border-bottom: 1px solid #000000' align='left' valign=top>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td style='border-top: 1px solid #000000; border-bottom: 1px solid #000000' align='left' valign=top>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td style='border-top: 1px solid #000000; border-bottom: 1px solid #000000' align='left' valign=top>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td style='border-top: 1px solid #000000; border-bottom: 1px solid #000000' align='left' valign=top>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td style='border-top: 1px solid #000000; border-bottom: 1px solid #000000' align='left' valign=top>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td style='border-top: 1px solid #000000; border-bottom: 1px solid #000000' align='left' valign=top>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td style='border-top: 1px solid #000000; border-bottom: 1px solid #000000' align='left' valign=top>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td style='border-top: 1px solid #000000; border-bottom: 1px solid #000000' align='left' valign=top>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td style='border-top: 1px solid #000000; border-bottom: 1px solid #000000' align='left' valign=top>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td style='border-top: 1px solid #000000; border-bottom: 1px solid #000000' align='left' valign=top>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td style='border-top: 1px solid #000000; border-bottom: 1px solid #000000' align='left' valign=top>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td style='border-top: 1px solid #000000; border-bottom: 1px solid #000000' align='left' valign=top>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td style='border-top: 1px solid #000000; border-bottom: 1px solid #000000' align='left' valign=top>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td style='border-top: 1px solid #000000; border-bottom: 1px solid #000000' align='left' valign=top>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td style='border-top: 1px solid #000000; border-bottom: 1px solid #000000' align='left' valign=top>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td style='border-top: 1px solid #000000; border-bottom: 1px solid #000000' align='left' valign=top>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td style='border-top: 1px solid #000000; border-bottom: 1px solid #000000' align='left' valign=top>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td style='border-top: 1px solid #000000; border-bottom: 1px solid #000000' align='left' valign=top>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td style='border-top: 1px solid #000000; border-bottom: 1px solid #000000' align='left' valign=top>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td style='border-top: 1px solid #000000; border-bottom: 1px solid #000000' align='left' valign=top>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td style='border-top: 1px solid #000000; border-bottom: 1px solid #000000' align='left' valign=top>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td style='border-top: 1px solid #000000; border-bottom: 1px solid #000000' align='left' valign=top>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td style='border-top: 1px solid #000000; border-bottom: 1px solid #000000' align='left' valign=top>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td style='border-top: 1px solid #000000; border-bottom: 1px solid #000000' align='left' valign=top>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td style='border-top: 1px solid #000000; border-bottom: 1px solid #000000' align='left' valign=top>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td style='border-top: 1px solid #000000; border-bottom: 1px solid #000000' align='left' valign=top>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td style='border-top: 1px solid #000000; border-bottom: 1px solid #000000' align='left' valign=top>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td style='border-top: 1px solid #000000; border-bottom: 1px solid #000000' align='left' valign=top>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td style='border-top: 1px solid #000000; border-bottom: 1px solid #000000' align='left' valign=top>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
        </tr>
        <tr>
          <td style='border-top: 1px solid #000000; border-bottom: 1px solid #000000' align='left' valign=top>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td style='border-top: 1px solid #000000; border-bottom: 1px solid #000000' align='left' valign=top>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td style='border-top: 1px solid #000000; border-bottom: 1px solid #000000' align='left' valign=top>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td style='border-top: 1px solid #000000; border-bottom: 1px solid #000000' align='left' valign=top>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td style='border-top: 1px solid #000000; border-bottom: 1px solid #000000' align='left' valign=top>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td style='border-top: 1px solid #000000; border-bottom: 1px solid #000000' align='left' valign=top>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td style='border-top: 1px solid #000000; border-bottom: 1px solid #000000' align='left' valign=top>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td style='border-top: 1px solid #000000; border-bottom: 1px solid #000000' align='left' valign=top>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td style='border-top: 1px solid #000000; border-bottom: 1px solid #000000' align='left' valign=top>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td style='border-top: 1px solid #000000; border-bottom: 1px solid #000000' align='left' valign=top>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td style='border-top: 1px solid #000000; border-bottom: 1px solid #000000' align='left' valign=top>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td style='border-top: 1px solid #000000; border-bottom: 1px solid #000000' align='left' valign=top>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td style='border-top: 1px solid #000000; border-bottom: 1px solid #000000' align='left' valign=top>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td style='border-top: 1px solid #000000; border-bottom: 1px solid #000000' align='left' valign=top>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td style='border-top: 1px solid #000000; border-bottom: 1px solid #000000' align='left' valign=top>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td style='border-top: 1px solid #000000; border-bottom: 1px solid #000000' align='left' valign=top>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td style='border-top: 1px solid #000000; border-bottom: 1px solid #000000' align='left' valign=top>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td style='border-top: 1px solid #000000; border-bottom: 1px solid #000000' align='left' valign=top>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td style='border-top: 1px solid #000000; border-bottom: 1px solid #000000' align='left' valign=top>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td style='border-top: 1px solid #000000; border-bottom: 1px solid #000000' align='left' valign=top>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td style='border-top: 1px solid #000000; border-bottom: 1px solid #000000' align='left' valign=top>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td style='border-top: 1px solid #000000; border-bottom: 1px solid #000000' align='left' valign=top>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td style='border-top: 1px solid #000000; border-bottom: 1px solid #000000' align='left' valign=top>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td style='border-top: 1px solid #000000; border-bottom: 1px solid #000000' align='left' valign=top>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td style='border-top: 1px solid #000000; border-bottom: 1px solid #000000' align='left' valign=top>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td style='border-top: 1px solid #000000; border-bottom: 1px solid #000000' align='left' valign=top>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td style='border-top: 1px solid #000000; border-bottom: 1px solid #000000' align='left' valign=top>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td style='border-top: 1px solid #000000; border-bottom: 1px solid #000000' align='left' valign=top>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td style='border-top: 1px solid #000000; border-bottom: 1px solid #000000' align='left' valign=top>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td style='border-top: 1px solid #000000; border-bottom: 1px solid #000000' align='left' valign=top>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
        </tr>
        <tr>
          <td align='left' valign=top>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td align='left' valign=top>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td align='left' valign=top>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td align='left' valign=top>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td align='left' valign=top>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td align='left' valign=top>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td align='left' valign=top>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td align='left' valign=top>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td align='left' valign=top>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td align='left' valign=top>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td align='left' valign=top>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td align='left' valign=top>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td align='left' valign=top>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td align='left' valign=top>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td align='left' valign=top>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td align='left' valign=top>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td align='left' valign=top>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td align='left' valign=top>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td align='left' valign=top>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td align='left' valign=top>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td align='left' valign=top>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td align='left' valign=top>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td align='left' valign=top>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td align='left' valign=top>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td align='left' valign=top>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td align='left' valign=top>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td align='left' valign=top>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td align='left' valign=top>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td align='left' valign=top>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td align='left' valign=top>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
        </tr>
      </table>
      <table cellspacing='0' border='0'>
        <tr>
          <td align='left' valign=top><b>
              <font face='Times New Roman' color='#000000'>Ever taken ARVs</font>
            </b></td>
          <td colspan='8' align='left' valign=top>
            <font face='Times New Roman' color='#000000'>Has the patient ever taken any ARVs? (e.g. single dose
              nevirapine for PMTCT, PEP or triple therapy) If yes, specify drug and approximate date when last
              taken</font>
          </td>
        </tr>
        <tr>
          <td align='left' valign=top><b>
              <font face='Times New Roman' color='#000000'>Routine TB Screening Checklist *</font>
            </b></td>
          <td colspan='2' align='left' valign=top><b>
              <font face='Times New Roman' color='#000000'>TB Status Current (any TB form, smear pos/ neg)</font>
            </b></td>
          <td colspan='2' align='left' valign=top><b>
              <font face='Times New Roman' color='#000000'>ARVs Given</font>
            </b></td>
          <td colspan='2' align='left' valign=top><b>
              <font face='Times New Roman' color='#000000'>Adverse Outcomes</font>
            </b></td>
          <tr>
            <td align='left' valign=top>
              <font face='Times New Roman' color='#000000'>1) Cough of any duration</font>
            </td>
            <td align='left' valign=top>
              <font face='Times New Roman' color='#000000'>N</font>
            </td>
            <td align='left' valign=top>
              <font face='Times New Roman' color='#000000'>TB Not suspected</font>
            </td>
            <td colspan='2' align='left' valign=top>
              <font face='Times New Roman' color='#000000'>P to patient</font>
            </td>
            <td align='left' valign=top>
              <font face='Times New Roman' color='#000000'>D</font>
            </td>
            <td align='left' valign=top>
              <font face='Times New Roman' color='#000000'>Died</font>
            </td>
          </tr>
          <tr>
            <td align='left' valign=top>
              <font face='Times New Roman' color='#000000'>2) Fever</font>
            </td>
            <td align='left' valign=top>
              <font face='Times New Roman' color='#000000'>Y</font>
            </td>
            <td align='left' valign=top>
              <font face='Times New Roman' color='#000000'>TB Suspected</font>
            </td>
            <td colspan='2' align='left' valign=top>
              <font face='Times New Roman' color='#000000'>G to guardian</font>
            </td>
            <td align='left' valign=top>
              <font face='Times New Roman' color='#000000'>Def</font>
            </td>
            <td align='left' valign=top>
              <font face='Times New Roman' color='#000000'>Defaulted: More than 2 months overdue after expected to
                have run out of tables, unknown survival and ART status</font>
            </td>
          </tr>
          <tr>
            <td align='left' valign=top>
              <font face='Times New Roman' color='#000000'>3) Night sweats</font>
            </td>
            <td align='left' valign=top>
              <font face='Times New Roman' color='#000000'>C</font>
            </td>
            <td align='left' valign=top>
              <font face='Times New Roman' color='#000000'>TB Confirmed not (yet) on TB treatment</font>
            </td>
            <td colspan='2'></td>
            <td align='left' valign=top><font face='Times New Roman' color='#000000'>Stop</font></td>
            <td align='left' valign=top>
              <font face='Times New Roman' color='#000000'>Patient stopped taking ARVs (clinicians or patients own
                decision)</font>
            </td>
          </tr>
          <tr>
            <td align='left' valign=top>
              <font face='Times New Roman' color='#000000'>4) Weight loss / failure to thrive</font>
            </td>
            <td align='left' valign=top>
              <font face='Times New Roman' color='#000000'>Rx</font>
            </td>
            <td align='left' valign=top>
              <font face='Times New Roman' color='#000000'>TB Confirmed &amp; currently taking TB treatment</font>
            </td>
            <td  colspan='2'></td>
            <td align='left' valign=top>
              <font face='Times New Roman' color='#000000'>TO</font>
            </td>
            <td align='left' valign=top>
              <font face='Times New Roman' color='#000000'>Transferred to other ART clinic (including unofficial
                transfers)</font>
            </td>
          </tr>
        </table>
      </body>
    </html>
